.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgb(27, 27, 26);
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
table {
  width: 100%;
}
